*{
  scroll-behavior: smooth;
}
body{
    font-family:"Lato", sans-serif;
    margin: 0;
    padding:0;
}
nav{
    background-color: #111;
    color:white; 
    padding: 20px 50px;
}

.navTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search{
    display: flex;
    align-items: center;
    background-color: grey;
    padding: 10px 20px;
    border-radius: 10px;
}
.searchInput{
    border:none;
    background-color:transparent;

}
.searchInput::placeholder{
    color: lightgrey;
}

.limitedOffer{
  padding: 5px;
  border-radius: 5px;
    font-size: 22px;
    --border-size: 3px;
  --border-angle: 3turn;
  width: 60vmin;
  height: 50vmin;
  background-image: conic-gradient(
      from var(--border-angle),
      rgb(0, 0, 0),
      rgb(0, 0, 0) 50%,
      rgb(0, 0, 0)
    ),
    conic-gradient(from var(--border-angle), transparent 20%, rgb(51, 255, 0), rgb(0, 255, 106));
  background-size: calc(100% - (var(--border-size) * 2))
      calc(100% - (var(--border-size) * 2)),
    cover;
  background-position: center center;
  background-repeat: no-repeat;

  animation: bg-spin 4s linear infinite;
  
  &:hover {
    animation-play-state: paused;
    cursor: pointer;
  }
}

@keyframes bg-spin {
    to {
      --border-angle: 2turn;
    }
  }


@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 2turn;
}

.navBottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
 
.menuItem{
  margin-right: 50px;
  cursor:  pointer;
  color:lightgray;
  font-weight: 400;
}
.slider{
  background: url("https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80");
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%); 
  overflow: hidden;
}
.sliderWrapper{
  display:flex;
  width:500vw;
  transition:all 1.5s ease;
}
.sliderItem{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.slideBg{
  width: 750px;
  height: 750px;
  border-radius: 50%;
  position: absolute;
}

.sliderImg{
  z-index: 1;
}

.sliderTitle{
  position: absolute;
  top:10%;
  right:10%;
  color:white;
  font-weight: 900;
  font-size: 60px;
  z-index: 1;
}
.sliderPrice{
  position: absolute;
  top:10%;
  left:10%;
  color:white;
  text-align: center;
  font-weight: 300;
  font-size: 50px;
  border: 1px solid grey;
  z-index:1;
}
.buyButton{
  position: absolute;
  top:50%;
  right:10%;
  font-weight: 900;
  width:220px;
  height:50px;
  border:none;
  outline: none;
  border-radius: 10px;
  z-index:1;
  cursor: pointer;
  background:#111;
  color:white;
  font-size: 20px;
}
.buyButton::before{
  content: '';
  background: linear-gradient(45deg,
  #ff0000, 
  #ff7300,
   #fffb00, 
   #48ff00, 
  #00ffd5, 
  #002bff,
   #7a00ff, 
   #ff00c8, 
  #ff0000);
  position: absolute;
  top:-2px;
  left:-2px;
  background-size:400%;
  z-index:-1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}
.buyButton:active{
  color:#000;
}
.buyButton::after::after{
  background: transparent;
}
.buyButton:hover:before{
  opacity: 1;
}
.buyButton::after{
  z-index: -1;
  content:'';
  position: absolute;
  width:100%;
  height:100%;
  background:#111;
  left:0;
  top:0;
  border-radius:10px;
}

@keyframes glowing{
  0%{ background-position : 0 0;}
  50%{ background-position: 400% 0; }
  100%{ background-position: 0 0 ;}
}
.sliderItem:nth-child(1) .slideBg{
  background-color: rgb(3, 192, 82);
}
.sliderItem:nth-child(2) .slideBg{
  background-color: rgb(105, 11, 199);
}
.sliderItem:nth-child(3) .slideBg{
  background-color:teal;
}
.sliderItem:nth-child(4) .slideBg{
  background-color: cornflowerblue;
}
.sliderItem:nth-child(5) .slideBg{
   background-color: rgb(124, 115, 80);
}

.sliderItem:nth-child(1) .sliderPrice{
  color: rgb(3, 192, 82);
}
.sliderItem:nth-child(2) .sliderPrice{
  color: rgb(9, 139, 226);
}
.sliderItem:nth-child(3) .sliderPrice{
  color:rgb(0, 181, 253);
}
.sliderItem:nth-child(4) .sliderPrice{
  color: rgb(3, 86, 241);
}
.sliderItem:nth-child(5) .sliderPrice{
   color: cornsilk;
}
.features{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  
}

.feature{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align:center;
}

.featureIcon{
  width:70px;
  height:70px;
}

.featureTitle{
  font-weight: 700;
  font-size: 20px;
  margin: 20px;
}

.featuredDesc{
  color:rgb(77, 76, 76);
  width: 50%;
  height:100px;
}
.product{
  height: 100vh;
  background-color: whitesmoke;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%); 

}

.payment{
  width:500px;
  height: 500px;
  background-color: white;
  position: absolute;
  border-radius: 10px 10px 0 0;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  padding:10px 50px;
  display: none;
  flex-direction: column;
  box-shadow: 0px 0px 28px 12px rgba(0,0,0,0.78);
-webkit-box-shadow: 0px 0px 28px 12px rgba(0,0,0,0.78);
-moz-box-shadow: 0px 0px 28px 12px rgba(0,0,0,0.78);

}
.payTitle{
  font-size: 20px;;
  color: rgb(146, 146, 146);
}
label{
  font-size: 14px;
  font-weight: 300;
}
.payInput{
  padding: 10px;
  margin:10px;
  border: none;
  border-bottom: 1px solid black;
}
.payInput::placeholder{
  color:rgb(163, 163, 163);
}
.cardIcons{
  display:flex;
  gap:10px;
}
.cardInfo{
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.sm{
  width: 30%;
  margin: 10px;
}
.payButton{
  position: absolute;
  height: 40px;
  bottom: -40px;
  width: 100%;
  left:0;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 0px 28px 12px rgba(184, 184, 184, 0.78);
  -webkit-box-shadow: 0px 0px 28px 12px rgba(185, 184, 184, 0.78);
  background-color: #369e62;
  color: white;
  border: none;
  cursor: pointer;
}
.close{
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: black;
  color: white;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 2px;
}
.productImg{
  width:50%;

}
.productDetails{
  position: absolute;
  top:10%;
  right: 0;
  width:40%;
  padding:50px;
}
.productTitle{
  font-size:75px;
  font-weight:900;
}
.productDesc{
  font-style: 24px;
  color: grey;
}
.colors, .sizes{
  display: flex;
}
.color{
  width: 32px;
  height:32px;
  border-radius: 5px;
  border:1px solid black;
  background-color:black;
  margin-right:10px;
  cursor:pointer;
}
.color:last-child{
  background-color:navy;
}
.size{
  padding: 10px 20px;
  border: 1px solid black;
  margin-right:10px;
  margin-top:10px;
  cursor:pointer;
  font-size:20px;
}

.productButton{
  float:right;
  padding: 10px 20px; 
  border-color:black;
  border-radius:10px;
  color: rgb(0, 0, 0);
  font-weight: 600;
  cursor: pointer;
  transition:all .6s ease;
}
.productButton:hover{
  background-color:rgb(204, 204, 204);
  color:rgb(0, 0, 0);
  box-shadow: 0 3px 12px rgb(46, 46, 46);
  padding: 10px 20px;

}
.gallery{
  padding: 50px;
  display:flex;
}
.galleryItem{
  flex:1 ;
  padding: 50px;
}
.galleryImg{
  width: 100%;
  cursor:pointer;
  transition: all .7s ease;
  border-radius: 10px;
}
.galleryImg:hover{
  box-shadow: 0 0 10px 10px rgb(172, 172, 172);
  padding: 10px 10px;
  border-radius: 10px;
}
.newSeason{
  display: flex;
}
.nsItem{
  flex:1;
  background-color: black;
  color:white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.nsImg{
  width: 100%;
  height: 500px;
}
.nsTitle{
  font-size: 40px;
}
.nsButton{
  font-size: 17px;
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  color:#ffedd3;
  text-transform: uppercase;
  position: relative;
  transition: 0.5s ease;
  cursor: pointer;
}
.nsButton::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #09ca02;
  transition: 0.5s ease;
  z-index: 1;
  
}

.nsButton:hover{
 color: #1e1e2b;
 transition-delay: 0.5s;
}
.nsButton:hover::before{
  width: 100%;
}
.nsButton::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #02c702;
  transition: 0.4s ease;
  z-index: -1;

}
.nsButton:hover::after{
  height: 100%;
  transition-delay:0.4s;
  color: rgb(23, 24, 24); 
}

footer{
  display: flex;
}
.footerLeft{
  flex: 2;
  display: flex;
  justify-content:space-between ;
  padding:50px ;
}

.fMenuTitle{
  font-size:16px;
}
.fMenuList{
  padding:0;
  list-style: none;
}

.fListItem{
  margin-bottom:10px;
  color: grey;
  cursor: pointer;
}
.footerRight{
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.fInput{
  padding: 5px;
}
.fButton{
  position: relative;
  padding: 12px 24px;
  margin-top: 10px;
  border: none;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: #000000;
  box-shadow: 0 0 0 2px #9b9b9b88;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}
.fButton span:last-child{
  position:absolute;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #2196f3;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8 cubic-bezier(0.23, 1, 0.320, 1);
}
.fButton span:first-child{
  position: relative;
  z-index: 1;
}
.fButton:hover{
  box-shadow: 0 0 0 5px #2195f360;
  color: #ffffff;
}
.fButton:active{
  scale: 0.95;
}
.fButton:hover span:last-child{
  width: 150px;
  height: 150px;
  opacity: 1;
}

.fIcons{
  display: flex;
}
.fIcon{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.copyright{
  font-weight: 300;
  font-size: 14px;
}

@media screen and (max-width:480px) {
  nav{
    padding: 20px;
  }
  .search{
    display: none;
  }
  .navBottom{
    flex-wrap: wrap;
  }
  .menuItem{
    margin: 20px;
    font-weight: 700;
    font-size: 20px;
  }
  .slider{
    clip-path: none;
  }
  .sliderImg{
    width: 90%;
    height: 100%;
  }
  .sliderTitle{
    display: none;
  }
  .sliderPrice{
    top: unset;
    bottom: 0;
    left: 0;
    background-color: lightgrey;
  }
}